button {
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  width: 100px;
  border: 1px solid #000000;
}
button:hover {
  background: #ce0033;
}
.cont-page-section{
    position: relative;
    padding: 110px 0 70px;
  }
.cont-page-section .form-column{
  position: relative;
  margin-bottom: 40px;
}
.cont-page-section .form-column .inner-column{
  position: relative;
}
.cont-page-section .sec-title{
  margin-bottom: 30px;
}
.cont-page-section .sec-title h2{
  font-size: 32px;
}
.cont-form .form-group{
  position:relative;
  margin-bottom:30px;  
}
.cont-form .form-group:last-child{
   margin-bottom: 0;
}
  .cont-form .form-group input[type="text"],
  .cont-form .form-group input[type="email"],
  .cont-form .form-group input[type="url"],
  .cont-form .form-group textarea,
  .cont-form .form-group select{
    position: relative;
      display: block;
      width: 100%;
      font-size: 18px;
      color: #555555;
      line-height: 32px;
      padding: 15px 30px;
      border: 1px solid #000000;
      background-color: #ffffff;
      font-weight: 400;
      height: 64px;
  }
  .cont-form .form-group input:focus,
  .cont-form .form-group select:focus,
  .cont-form .form-group textarea:focus{
    border-color:#ce0033;
  }
  .cont-form .form-group textarea{
    height: 156px;
  }
  .cont-form .form-group button{
    text-transform: capitalize;
  }
  .cont-form input.error:focus,
  .cont-form select.error:focus,
  .cont-form textarea.error:focus{
    border-color:#ce0033;  
  }
  .cont-form label.error{
    display:block;
    font-weight:500;
    font-size:13px;
    text-transform:capitalize;
    line-height:24px;
    color: #ce0033;
    padding-top:7px;
    margin-bottom: 0;
  }
  .cont-page-section .cont-column{
    position: relative;
    margin-bottom: 30px;
  }
  .cont-page-section .cont-info {
    position: relative;
    margin-bottom: 37px; 
    list-style:none;
  }
  .cont-page-section .cont-info li{
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
  }
  .cont-page-section .cont-info li p{
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 400;
    margin: 0;
  }
  .cont-page-section .cont-info li strong{
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
  }
  .cont-page-section .cont-info li .icon{
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    background-color: #000000;
    color: #ffffff;
  }
  .cont-page-section .cont-info li a{
    color: #777777;
  }
  .cont-page-section .cont-info li a:hover{
    color: #ce0033;
  }
  .social-icon-two{
    position: relative;
    display: block;
  }
  .social-icon-two ul { 
    margin:0; 
    padding:0; 
    list-style-type:none;
  } 
  .social-icon-two li{
    position:relative; 
    list-style-type:none;
    display:inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .social-icon-two li a .fa{
    position:relative;
    display:block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size:16px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  .social-icon-two li a:hover .fab{
    color: #ffffff;
    background-color: #ce0033;
  }
/* Map */
.map {
    height: 23rem;
  }
  @media (max-width: 992px) {
    .map {
      height: 75%;
    }
  }
  